<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/upload" method="post" enctype="multipart/form-data">
         <input name="key" type="hidden" value="a19a36e4ce776d4706c67b15daf9209d9af16443">
         <input name="uploadingFile" type="file" ><br>
         <input type="submit"> 
    </form>
  </body>
</html>
